body {
	/* Temporarily disable side swipes causing a page back navigation
	 while I figure out how to control pointer events better */
	overscroll-behavior-x: none;
}

div.main {
	width: calc(100vw - 2em);
	height: calc(100vh - 7em);
	background-color: #eee;
	position: relative;
}

.codemain, 
.methodpanel, 
.globalspanel, 
.classpanel {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
}

.codesidesplit {
	flex-grow: 1;
	flex-shrink: 1;
	overflow: hidden;
	position: relative;
} 

.methodsidesplit, 
.globalsidesplit, 
.classsidesplit {
	display: flex;
	flex-direction: row;
	flex-grow: 1;
	flex-shrink: 1;
	overflow: hidden;
}

.globaldetails, 
.classdetails, 
.methoddetails {
	flex-grow: 1;
	flex-shrink: 1;
	overflow: auto;
}

.code {
	background-color: #eef;
	padding-right: 1em;
	flex-grow: 1;
	overflow: auto;
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	touch-action: none;  /* this could be pinch-zoom, but on Safari, after zooming, single touches no longer go to the code area until you do a single click to give it focus again, which can be confusing */
	user-select: none;
	-webkit-user-select: none;
}

.codesvg {
	padding: 0;
	
	/* Helps prevent jank from the scrollbar appearing and disappearing, which
	can trigger a need to layout the svg again. But if the code section never
	scrolls, then this isn't necessary */
	overflow-y: scroll;  
}

.sidechoices {
	background-color: #eee;
	flex-grow: 1;
	overflow-y: auto;
}

/* code panel lays out the side choices slightly differently to account for the svg overlay */
.codesidesplit .sidechoices {
	position: absolute;
	right: 0;
	top: 0;
	bottom: 0;
	width: 20%;	
}

.codesidesplit svg.cursoroverlay {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	pointer-events: none;
	touch-action: none;
}

.codesidesplit svg.cursoroverlay .cursorhandle {
	pointer-events: auto;
	touch-action: none;
	fill: transparent;
	stroke: black;
	stroke-width: 2px;
}

.codesidesplit svg.cursoroverlay .cursorcaret {
	pointer-events: auto;
	touch-action: none;
	fill: transparent;
	stroke: red;
	stroke-width: 3px;
}

.codesidesplit svg.cursoroverlay .maincursorcaret {
	pointer-events: auto;
	touch-action: none;
	fill: transparent;
	stroke: black;
	stroke-width: 3px;
}

.choices {
	background-color: #fee;
	flex-grow: 0;
	flex-shrink: 0;
	height: 50%;
	touch-action: manipulation;
}

.simpleentry {
	background-color: #fed;
	flex-grow: 0;
	flex-shrink: 0;
}

.codemain .code .tokenline {
	padding-left: 2em;
	text-indent: -2em;
}

.codemain div.token, 
.methodpanel .typeEntry div.token, 
.globalspanel .typeEntry div.token,
.classpanel .typeEntry div.token {
	background-color: #ccc;
	display: inline-block;
	padding: 0.2em;
	border-radius: 0.2em;
	border: 1px solid #aaa;
	text-indent: 0;
}

.codemain span.token, 
.methodpanel .typeEntry span.token, 
.globalspanel .typeEntry span.token,
.classpanel .typeEntry span.token {
	background-color: #ccc;
	display: inline;
	padding: 0.2em;
	border-radius: 0.2em;
	border: 1px solid #aaa;
	text-indent: 0;
}

.codemain div.blocktoken, 
.methodpanel .typeEntry div.blocktoken,
.globalspanel .typeEntry div.blocktoken, 
.classpanel .typeEntry div.blocktoken {
	background-color: #ddd;
	display: block;
	padding: 0.2em;
	border-radius: 0.2em;
	border: 1px solid #aaa;
}

.codemain div.blocktoken.tokenselected,
.codemain span.token.tokenselected,
.codemain div.token.tokenselected {
	background-color: #587de6;
}

.codemain .tokenError, 
.methodpanel .typeEntry tokenError, 
.globalspanel .typeEntry tokenError,
.classpanel .typeEntry tokenError {
	text-decoration: underline;
	text-decoration: underline red;
}

.codemain .choices {
	line-height: 2.5em;
}

.codemain .choices div.tokenchoice {
	background-color: #ccc;
	display: inline-block;
	padding: 0.2em;
	border-radius: 0.2em;
	border: 1px solid #aaa;
	margin-left: 0.5em;
	margin-right: 0.5em;
	line-height: 1.2em;
}

.codemain .choices div.tokenchoicedisabled {
	color: #bbb background-color: #ddd;
	display: inline-block;
	padding: 0.2em;
	border-radius: 0.2em;
	border: 1px solid #aaa;
	margin-left: 0.5em;
	margin-right: 0.5em;
	line-height: 1.2em;
}

.sidechoices a div {
	padding: 0.5em;
}

.sidechoices a:link, 
.sidechoices a:visited, 
.sidechoices a:hover,
.sidechoices a:active {
	text-decoration: underline;
	color: black;
}

.testbuttons {
	height: 1.5em;
}

.console {
	height: 2em;
}

a.runbutton {
	
}

.subject {
	display: flex;
	min-height: 1.5em;
}

.subject .breadcrumb {
	flex-grow: 1;
}

.subject .breadcrumb .breadcrumb-item {
	padding-right: 1em;
}

.subject .edit {
	min-width: 1.5em;
	background-color: #ddd;
	text-align: center;
}

.globalspanel .functionList>div {
	margin-top: 0.5em;
	margin-bottom: 0.5em;
	padding-left: 0.5em;
}

.globalspanel .functionList>div.moduleImported {
	padding-left: 1.25em;
	font-style: italic;
}

.globalspanel .functionsHeading {
	margin-top: 1em;
}

.globalspanel .globalVarsList>div {
	margin-top: 0.5em;
	margin-bottom: 0.5em;
	padding-left: 0.5em;
}

.globalspanel .globalVarsList>div.moduleImported {
	padding-left: 1.25em;
	font-style: italic;
}

.globalspanel .globalVarsHeading {
	margin-top: 1em;
}

.globalspanel .classesList>div {
	margin-top: 0.5em;
	margin-bottom: 0.5em;
	padding-left: 0.5em;
}

.globalspanel .classesList>div.moduleImported {
	padding-left: 1.25em;
	font-style: italic;
}

.globalspanel .classesHeading {
	margin-top: 1em;
}

.classpanel .methodsList>div, 
.classpanel .staticMethodsList>div,
.classpanel .constructorMethodsList>div {
	margin-top: 0.5em;
	margin-bottom: 0.5em;
	padding-left: 0.5em;
}

.methodpanel .typeEntry, 
.globalspanel .typeEntry, 
.classpanel .typeEntry {
	display: inline-block;
	border: 1px solid black;
	min-width: 3em;
	padding-right: 1em;
	position: relative;
}

.methodpanel .typeEntry .tokenline, 
.globalspanel .typeEntry .tokenline,
.classpanel .typeEntry .tokenline {
	display: inline;
}

.methodpanel .typeEntry span.typeTokenSelected, 
.globalspanel .typeEntry span.typeTokenSelected,
.classpanel .typeEntry span.typeTokenSelected {
	background-color: #7f7;
}

.plomToast {
	position: fixed;
    bottom: 20vh;
    text-align: center;
    left: 25%;
    right: 25%;
    background-color: #fafad2;
    padding: 0.3em;
    border: 1px solid #ddddba;
    border-radius: 0.3em;
}

svg rect.codetoken {
	fill: #eee;
	stroke: #aaa;
}

svg path.codetoken {
	fill: #eee;
	stroke: #aaa;
}

svg text.codetoken {
	font-size: 15px;
	white-space: pre;
}

svg rect.tokenselected,
svg path.tokenselected {
	fill: #587de6;
}

svg rect.fillinblank {
	fill: #e0e0e0;
	stroke: #aaa;
}

svg text.tokenError {
	text-decoration: underline;
	text-decoration: underline red;
	fill: red;
}

svg path.tokenslot {
	stroke-width: 1px;
	stroke: black;
	fill: none;
}

svg path.wideexpressionslot {
	/*stroke-width: 1px;
	stroke: black;*/
	stroke: none;
	fill: none;
}

svg rect.plomMultilineAccent {
	fill: url(#plomMultilineAccent);
}

svg.widthCalculator {
	width: 0px;
    height: 0px;
    visibility: hidden;
    position: absolute;
    left: 0;
    top: 0;
}

svg.widthCalculator text {
	white-space: pre;
}